name: Submit Dependency Graph
on:
  workflow_dispatch:
  push:
    branches:
      - main
  
permissions: write-all

jobs:
  generate-and-submit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 8
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        dependency-graph: generate-and-submit
    - name: Run assemble to generate dependency graph
      run: ./gradlew assemble -x signPluginMavenPublication -i -Porg.gradle.java.installations.auto-download=false
      env:
        GRADLE_ENTERPRISE_ACCESS_KEY: ${{ secrets.GE_SOLUTIONS_ACCESS_TOKEN }}
