name: Submit Dependency Graph
on:
  workflow_dispatch:
  push:
    branches:
      - main
  
permissions: write-all

jobs:
  generate-and-submit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
    - name: Submit dependency graph
      uses: gradle/actions/dependency-submission@v4
      with:
        develocity-access-key: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
